<h1>GENERADOR DE LOGEO</h1>

<div class="form-container">


    <form #formTemplate="ngForm" [formGroup]="componentForm" class="generador-form mat-elevation-z2">

        <mat-grid-list [cols]="3" rowHeight="70px" gutterSize="0px" (window:resize)="onResize()">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>ACTIVIDAD *</mat-label>

                    <mat-select formControlName="actividad">
                        <mat-option class="option-style" *ngFor="let actividad of actividades"
                            [value]="actividad.codigo">
                            {{ actividad.descripcion }}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>TAREA *</mat-label>

                    <mat-select formControlName="tarea">
                        <mat-option class="option-style" *ngFor="let tarea of tareas" [value]="tarea.codigo">
                            {{ tarea.descripcion }}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>TIPO *</mat-label>

                    <mat-select formControlName="tipo">
                        <mat-option class="option-style" *ngFor="let type of tipos" [value]="type">
                            {{ type }}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
            </mat-grid-tile>

        </mat-grid-list>

        <mat-grid-list [cols]="2" rowHeight="70px" gutterSize="0px" (window:resize)="onResize()">

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <input placeholder="INICIO" aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24" readonly>
                <ngx-material-timepicker #fullTime></ngx-material-timepicker>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <input placeholder="FIN" aria-label="24hr format" [ngxTimepicker]="fullTime2" [format]="24" readonly>
                <ngx-material-timepicker #fullTime2></ngx-material-timepicker>
            </mat-grid-tile>

        </mat-grid-list>

        <mat-grid-list [cols]="3" rowHeight="70px" gutterSize="0px" (window:resize)="onResize()">
            <mat-grid-tile [colspan]="3" [rowspan]="2">
                <mat-form-field appearance="outline">
                    <mat-label>DESCRIPCION</mat-label>
                    <textarea formControlName="descripcion" matInput placeholder="DESCRIPCION" required></textarea>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>





        <div class="buttons-container">

            <button (click)="generar()" mat-raised-button color="primary" type="button" style="margin-right: 10px;">
                <mat-icon>save</mat-icon>
                GENERAR
            </button>
            <button (click)="limpiar()" mat-raised-button color="primary">
                <mat-icon>update</mat-icon>
                LIMPIAR
            </button>

        </div>

    </form>
</div>