.form-container {
    margin: 0.5%;
}

.generador-form {
    padding: 2% 0 3% 0%;
    margin-bottom: 1%;
}

.buttons-container {
    display: inline-block;
    width: 98%;
    text-align: center;
    height: 35px;
}
